<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Customer</title>
    <link rel="stylesheet" th:href="@{/css/customer/create.css}" />
</head>
<body>

<h2>Create New Customer</h2>

<form th:action="@{/customers}" th:object="${customerRequest}" method="post">
    <label th:for="*{fullName}">Full Name:</label><br/>
    <input type="text" th:field="*{fullName}" placeholder="Enter full name" required/><br/>

    <label th:for="*{email}">Email:</label><br/>
    <input type="email" th:field="*{email}" placeholder="Enter email" required/><br/>

    <label th:for="*{phone}">Phone:</label><br/>
    <input type="text" th:field="*{phone}" placeholder="Enter phone number" required/><br/><br/>

    <button type="submit">Save</button>
</form>

<div style="text-align: center; margin-top: 15px;">
    <a th:href="@{/customers}">← Back to List</a>
</div>

</body>
</html>