<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Address</title>
</head>
<body>
<h2>Add Address</h2>

<form th:action="@{|/customers/${customerId}/addresses|}" th:object="${addressRequest}" method="post">
    <label>Type:</label><br/>
    <input type="text" th:field="*{type}" required/><br/>

    <label>Value:</label><br/>
    <input type="text" th:field="*{value}" required/><br/><br/>

    <button type="submit">Save</button>
</form>

<a th:href="@{|/customers/${customerId}/addresses|}">Cancel</a>
</body>
</html>