<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Address</title>
</head>
<body>
<h2>Edit Address</h2>

<form th:action="@{|/customers/${customerId}/addresses/${addressId}|}"
      th:object="${addressRequest}" method="post">

    <label>Type:</label><br/>
    <input type="text" th:field="*{type}" required/><br/>

    <label>Value:</label><br/>
    <input type="text" th:field="*{value}" required/><br/><br/>

    <button type="submit">Update</button>
</form>

<a th:href="@{|/customers/${customerId}/addresses|}">Cancel</a>
</body>
</html>