<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer Addresses</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h2>Addresses for Customer [[${customerId}]]</h2>

<a th:href="@{|/customers/${customerId}/addresses/new|}">Add New Address</a>

<table>
    <thead>
    <tr>
        <th>Type</th>
        <th>Value</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="address : ${addresses}">
        <td th:text="${address.type}"></td>
        <td th:text="${address.value}"></td>
        <td>
            <a th:href="@{|/customers/${customerId}/addresses/${address.id}/edit|}">Edit</a>
            <form th:action="@{|/customers/${customerId}/addresses/${address.id}/delete|}"
                  method="post" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/customers}">Back to Customers</a>
</body>
</html>